@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap');
*{
    font-family:cursive;
}
table{
    border: 3px solid #dfdfdf; /*граница всей таблицы*/
    border-collapse: collapse;
}
th, td{
    border: 1px solid #dfdfdf;/*граница заголовков таблицы*//*граница внутренностей таблицы*/
    
}
th{
    background-color:#efefef;/*text-align:center;*/
    padding: 10px;   
    width: 200px;
}
td{
    padding: 2px;

}
tr:hover td{
    background-color:#f7f5f5;
}   
.end{
    /*position: fixed;
    left: 0; bottom: 0;
    height:fit-content;
    display: flex;*/
    color:rgba(206, 67, 67, 0.836);
    margin: 3px;
    position: absolute;
    top: 40%;
}