/*   header, footer{
    background-color: #9ACD32;
    width: auto;
    height: 150px;
}
nav, aside{
    background-color: #F5F5DC;
    width: auto;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    flex-grow: 1px;
    flex-direction: row;
    justify-content: center;
    background-color: #32425C;
    justify-content: space-between;
    width: auto;
    height:55px;
    
  }
.logo{
    display: block;
    justify-content: end;
    height: 40px;
    width: 40px;
    margin: 5px;
    padding: 5px;
}
p{
    display: block;
    width: auto;
    height: auto;
    background-color: #47556D;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
    flex-wrap:wrap;
   /* flex: 1 1 auto;
    margin: 0 5px;*/
    margin: 10px;
    padding: 7px;
}
/*p.great{
    height: 20px;
}*/
.great{
    margin: 1px;
    padding: 1px;
    background-color:#32425C;
    justify-self:flex-start;
    text-transform: uppercase;
    font-size: 15px;
    width: 78px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.Keksby{
    margin: 0px;
    padding: 0px;
    background-color:#32425C;
    text-transform: uppercase;
    font-size: 17px;
    font-family:cursive;
    font-weight: bolder;
    align-items: flex-start;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
   
    color: #a1b7db;
}