*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
article{
    padding: 10px;
    display: block;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dddddd;
    width: auto;
    height: auto;
}
.container{
    display: flex;
    flex-direction:row;
    flex-grow: 1;
    justify-items: center;
    align-items:center;
    margin: 10px;
    padding: 5px;
}
img{
    margin: 10px; 
    padding: 5px;
}

p{
    padding: 5px;
    font-size: 16px;
    flex-wrap: wrap;
    color: rgb(97, 97, 97);
    background:rgb(255, 255, 255);
}
.discount{
    display: flex;
    background-color:#F84147;
    border-radius:15px;
    color:#FFF8FB;
    width: 57px;
    height: 30px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    font-size: 20px;
    justify-items: center ;
}
.feedback{
    height: 15px;
    width: 15px;
    margin: 5px;
    padding: 2px;
    
}
.container2{
    flex-direction: row;
}
.comment , .feedback{
    display:inline-block;
    vertical-align:middle;
}
.icon{
    margin: 0px;

    height: 35px;
    width: 35px;
}
.column{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items:center;
    width: 57px;
    height: 109px;
}
a{
    font-size: 9px;
    color: rgb(36, 109, 151);
    width:fit-content;
    text-decoration: none
}
a:hover{
    color:#7bb2f0;
}
.lastcost{
    font-size: 10px;
    text-decoration: line-through;
}
p.value{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color:red;
    height:20px;
}
.cart{
    margin: 0px;
    padding: 0px;
}
.row{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.a_img:hover{
    padding: 1px;
    background-color:rgb(250, 250, 250);
    border-radius:5px;
}
.exist{
    font-size: 10px;
    color: #0BA355;
    padding: 0px;
}
.true{
    display: flex;
    justify-content:space-between;
}