*{
    font-family:Arial, Helvetica, sans-serif
}
fieldset
{   
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color:#3398DB;
    border-style:none;
    width: 587px;
    height: 587px;
}
div{
    width: 60%;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 30px;
    
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color:#7C8892;
    font-size: 40px;
    margin-top: 90px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
input, button{
    font-size: 19px;
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius:3px;
}
::placeholder{
    color: #ABACB2;
}
input{
    font-size: 20px;
    background-color: #EBEFF1;
    color: #ABACB2;
    border: none;
    outline:none;
} 
button{
    background-color:#3398DB;
    color:white;
    border-style: none;
    width: 310px;
    height: 50px;
}
button:hover{
    background:linear-gradient(45deg ,#3591ce, #91cef7);
}
a{
    color: #818282;
}
a:hover{
    color: #5f6161;
    
}
