*{
    width: auto;
    height: auto;
}
h3{
    margin-left: 10px;
    color: #96625A;
}
fieldset{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 1000px;
    background-color:#E2FAFE;
    border-radius:5px;
    border: 1px solid #9BBCC1;
    margin-top: 5px;
}
legend{
    color:#4FCDCE;
    font-variant: small-caps;
    margin-left: 10px;
}
label{
    display: inline-flex;
    color:#89716E;
    margin: 5px;
   justify-content: space-between;
}
.inp, select, textarea{
    text-align: start;
    margin: 3px;
    margin-right: 90px;
    padding: 3px;
    width: 300px;
    height: auto;
}
select{
    width: 309px;
}
ul {
    padding: 0;
    margin: 0;
  }
li{
    list-style: none;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}
.li{
    font-size: 12px; 
}
button{
    padding: 5px;
    margin: 5px;
    background:linear-gradient(to bottom, #E2FAFE,#f1fbfd) ;
    border: 0.5px solid #9BBCC1;
    border-radius: 3px;
    width: auto;
    height: auto;
    color:#89716E;
  }
button:hover{
    background:linear-gradient(to top, #9beefd,#92aeb4) ;
}
a{
    text-decoration: none;    
}

  
  